* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background: gray;
  padding: 15px 30px;
  border-radius: 15px;
  p {
    padding-top: 20px;
  }
  .actions {
    text-align: center;
    margin-top: 15px;
    button {
      width: 35px;
      padding: 4px;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }
  }
}